.Tweet {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin-bottom: 10px;
    padding-left: 1rem;
}

.TweetHandle {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    align-items: center;
}

.TweetHandle > h3 {
    margin-right: 10px;
}

.TweetHandle > h3:nth-of-type(2) {
    opacity: 0.5;
}

.TweetContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    text-align: left;
    margin-top: -50px;
}

.TweetPfp {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

@media screen and (max-width: 480px) {
    .Tweet {
        padding: 1rem;
    }
    .TweetPfp {
        width: 40px;
    }
    .TweetHandle {
        font-size: 1rem;
    }
    .TweetContent {
        margin-top: -30px;
    }
}